.menu__container{
    margin: 1rem;
}
.menu__container > h1{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #4f3001;
    border-bottom: 2px solid white;
}
.menu__items{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, auto);
}
.menu__item{
    transition: all .25s ease-in-out;
    margin-top: 20px;
    height: 250px;
    color: white;
    border: 4px solid #a800a8;
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    overflow:hidden;
}
.menu__item > .clicktoadd{
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(149, 255, 0);
    opacity: .85;
    padding: 10px;
    text-transform: uppercase;  
    text-align: center;
    transform: translateY(-100%);
    transition: all .25s ease;
}
.menu__item:hover .clicktoadd{
    transform: translateY(0%);
}
.menu__item__details{
    /* to avoid the onClick events on details */
    pointer-events: none;
    position:absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(96, 96, 96);
    opacity: .85;
    padding: 10px;
    text-transform: uppercase;  
}
/* media queries */
@media (max-width: 1240px) and (min-width:768px){
    .menu__items{
        grid-template-columns: repeat(2, auto);
    }
}
@media (max-width:767.99px) {
    .menu__items{
        grid-template-columns: auto;
    }
    
}