*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar{
    display: none;
}
html{
    font-size: 16px;
    font-family: "Bahnschrift";
    scroll-behavior: smooth;
    user-select: none;
}
body{
    background-color: #ff5cea;
}
@media (max-width:768px){
    html{
        font-size: 13px;
    }
}
